@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 100%/1.5 Inconsolata, monospace;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
    margin: 1em 0 .5em;
    line-height: 1.2;
}

p, ul, ol {
    margin: .5em 0;
}

ul {
    list-style-type: square;
}

ul ul, ul ol, ol ul, ol ol {
    margin: 0 0 0 2em;
}

em {
    font-style: normal;
    opacity: .5;
}

img {
    max-width: 100%;
}

code {
    /*display: inline-block;*/
    padding: 1px 2px;
    background: #FEF29A;
    font-family: Inconsolata, monospace;
}

a {
        border-bottom: 1px solid #FB7D65;
        color: #D95B43;
        text-decoration: none;
    }
    a:hover {
        color: #C02942;
    }
    a:active {
        color: #542437;
}

main, footer {
    padding: 1px 2em;
    margin: 0 auto;
    width: 50%;
    min-width: 500px;
}

footer {
        margin: 2.5em auto;
    }
    footer .button {
        font-size: .9em;
}

.recipe main, .recipe footer {
        width: 80%;
    }
    .recipe footer > * {
        margin-left: calc(33% + 1.25rem);
    }
    .recipe main > * {
        margin-left: calc(33% + 1.25rem);
    }
    .recipe main > #ingredients, .recipe main > #ingredients + * {
        float: left;
        margin-left: 0;
        padding-right: 2.5rem;
        width: 33%;
    }
    .recipe main > #ingredients + * {
        clear: left;
    }
    .recipe main > #ingredients, .recipe main > #ingredients + * + h2 {
        margin-top: 0;
        padding-top: .5em;
}

a.button {
        display: inline-block;
        border: none;
        padding: 0 5px;
        background: #D95B43;
        color: white;
        text-transform: uppercase;
        vertical-align: middle;
    }
    a.button:hover {
        background: #C02942;
    }
    a.button:active {
        background: #542437;
}

h1 .back {
    margin-left: -4.35em;
    font-size: 1.2rem;
}
