@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 100%/1.5 Inconsolata, monospace;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
    margin: 1em 0 .5em;
    line-height: 1.2;
}

p, ul, ol {
    margin: .5em 0;
}

ul {
    list-style-type: square;
}

ul ul, ul ol, ol ul, ol ol {
    margin: 0 0 0 2em;
}

img {
    max-width: 100%;
}

code {
    /*display: inline-block;*/
    padding: 1px 2px;
    background: #FEF29A;
    font-family: Inconsolata, monospace;
}

a {
        border-bottom: 1px solid #FB7D65;
        color: #D95B43;
        text-decoration: none;
    }
    a:hover {
        color: #C02942;
    }
    a:active {
        color: #542437;
}

#root {
    margin: 0 auto;
    padding: 1px 2em 3em;
    width: 50%;
    min-width: 500px;
}

#root.recipe {
        width: 80%;
    }
    .recipe > * {
        margin-left: calc(33% + 1.25rem);
    }
    .recipe > #ingredients, .recipe > #ingredients + * {
        float: left;
        margin-left: 0;
        padding-right: 2.5rem;
        width: 33%;
    }
    .recipe > #ingredients + * {
        clear: left;
    }
    .recipe > #ingredients, .recipe > #ingredients + * + h2 {
        margin-top: 0;
        padding-top: .5em;
}
